<div class="jumbotron text-center">
    <h1>Edit Events</h1>
</div>

<form method="post" action="/edit">
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Name" value="<%= event.name %>">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="3" name="description"><%= event.description %></textarea>
    </div>
    <div class="form-group">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="completed">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Complete</span>
        </label>
    </div>
    <div class="text-right">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>